.bodyy{
    order: 0;
}
.img01{
    background-color: #F7DDA4;
     margin-left: 20px;
    margin-right: 20px;
      height:179px;
    width:269px;
    left:19px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.img02{
    background-color:rgb(203, 130, 235);
     margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    height:169px;
    width:269px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.img03{
    background-color:#fae1b2;
     margin-left: 20px;
    margin-right: 20px;
      height:179px;
    width:269px;
        border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.img04{
    background-color: rgb(148, 158, 168);
    margin-left: 20px;
    margin-right: 20px;
      height:179px;
    width:269px;
        border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.point{
    margin-bottom: 90px;
    margin-left: 30px;

}